Satellite/Service References/DataWarehouse/DataWarehouse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataWarehouse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50039/DataWarehouse.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50039/DataWarehouse.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50039/DataWarehouse.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataWarehouse_DigInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:DigInformation" />
  </wsdl:message>
  <wsdl:message name="DataWarehouse_DigInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DigInformationResponse" />
  </wsdl:message>
  <wsdl:message name="DataWarehouse_StoreInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreInformation" />
  </wsdl:message>
  <wsdl:message name="DataWarehouse_StoreInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="DataWarehouse">
    <wsdl:operation name="DigInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/DataWarehouse/DigInformation" message="tns:DataWarehouse_DigInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataWarehouse/DigInformationResponse" message="tns:DataWarehouse_DigInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/DataWarehouse/StoreInformation" message="tns:DataWarehouse_StoreInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DataWarehouse/StoreInformationResponse" message="tns:DataWarehouse_StoreInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DataWarehouse" type="tns:DataWarehouse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DigInformation">
      <soap:operation soapAction="http://tempuri.org/DataWarehouse/DigInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreInformation">
      <soap:operation soapAction="http://tempuri.org/DataWarehouse/StoreInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataWarehouse">
    <wsdl:port name="BasicHttpBinding_DataWarehouse" binding="tns:BasicHttpBinding_DataWarehouse">
      <soap:address location="http://localhost:50039/DataWarehouse.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>